@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'NeoDunggeunmo';
}

body {
    /* background-color: #1370AC; */
    background-image: url(../assets/whack_a_mole_BG.png);
    text-align: center;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, minmax(100px, auto));
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4D9854;
}

.a11y-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

a{
    display: block;
    text-decoration: none;
    line-height: 69px;
    margin: auto;
    cursor: pointer;
}

h1{
    font-size: 60px;
    color: aliceblue;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-left: 10px;
    overflow: hidden;
    color: aliceblue;
}

#ground{
    width: 480px;
    margin: auto;
}

.view{
    float: initial;
    position: absolute;
    overflow: hidden;
    width: 100px;
    height: 100px;
    left: 10px;
    top: 10px;
}

.hole{
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 160px;
}

img{
    width: 160px;
    height: 160px;
}

#mole{
    position: absolute;
    animation-duration: .3s;
    animation-name: slidein;
    left: -26px;
    bottom: -50px;
}

@keyframes slidein {
    from {
        bottom: -120px;
    }
  
    to {
        bottom: -50px;
    }
}

#startBtn{
    width: 198px;
    height: 69px;
    background-image: url(../assets/btnRed.PNG);
    font-size: 40px;
    margin-top: 20px;
}

#restartBtn{
    width: 198px;
    height: 69px;
    background-image: url(../assets/btnRed.PNG);
    font-size: 38px;
    margin-bottom: 30px;
}

#homeBtn{
    width: 198px;
    height: 69px;
    background-image: url(../assets/btnGreen.PNG);
    font-size: 40px;
    text-decoration: none;
    color:aliceblue;
}

#gameResult{
    background-color: rgba(158, 229, 255, 0.581);
    width: 480px;
    padding:10px 0 20px 0;
    margin: auto;
}

p{
    font-size: 50px;
    color: aliceblue;
}

#resultScore{
    font-size: 120px;
    margin: 108px auto;
}

#pointer{
    cursor: pointer;
}