@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

ul,
li,
h1 {
  list-style: none;
  margin: 0;
  border: 0;
  padding: 0;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

body {
  background-color: black;
  background-image: url(./assets/gameMachine.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'NeoDunggeunmo';
}

main {
  width: 800px;
  margin: 55px auto 0 auto;
  height: 44vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.title {
  color: white;
  text-align: center;
  font-size: 80px;
  text-shadow: 4px 5px 6px rgb(106, 39, 39);
  margin-top: 73px;
}

.flex-container {
  display: flex;
  gap: 15px;
  margin: auto;
  max-width: 690px;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.game-item {
  width: 220px;
}

.game-item img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
