@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.sue-body {
    background-color: #1370AC;
}

/* 홈 화면 */
/* div 박스 */
.sue-game-tictactoe {
    background-color: black;
    color: #fff;
    height: 80vh;
    width: 613px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'NeoDunggeunmo';
}

.sue-title,
.sue-footer {
    text-align: center;
}

/* header */
.sue-title {
    font-size: 4rem;
    text-shadow: 7px 4px 2px goldenrod;
}

/* main */

.sue-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 60%;
}

.sue-main span {
    font-size: 7rem;
}

.sue-main span:hover {
    text-shadow: 7px 4px 2px goldenrod;
}

/* footer */
.sue-footer {
    font-size: 2.5rem;
}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink-effect 1s step-end infinite;

    /*
    animation-name: blink-effect;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    animation-timing-function:step-end;
    */
}

/* 메인 게임 화면 */
.sue-game-board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 2px solid #fff;

    width: 80%;
    height: 60%;
    margin: 0 auto;
}

.sue-board-box {
    border: 2px solid #fff;
}

.sue-score {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 1.2rem;
}