@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: none;
    border: 0;
}

img {
    vertical-align: top;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'NeoDunggeunmo';
    background-color: #205B82;
    margin: 0;
    padding: 0;

    background-color: black;
    background-image: url(../assets/cardMatchBg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'NeoDunggeunmo';
}

button {
    background: inherit;
    border: none;
    box-shadow: none;
    padding: 0;
    overflow: visible;
    cursor: pointer;
}

h1 {
    margin: 0;
}

.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.modal-container,
.modal-winer-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    position: relative;
    background-color: #6399be;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-content h3 {
    font-size: 35px;
    text-align: center;
    color: red;
}

.modal-btn {
    display: flex;
    justify-content: space-around;
}

.modal-btn button {
    font-family: inherit;
}

.card-game-header {
    text-align: center;
    font-size: 50px;
    color: #FBB041;
    text-shadow: 3px 4px 5px red;
    padding: 20px;
}

.container {
    border-radius: 20px;
    max-width: 1000px;
    margin: 0 150px;
    display: grid;
    background-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 30px 30px 60px 30px;
    grid-template-columns: repeat(auto-fit, minmax(18%, auto));
    justify-content: center;
    row-gap: 20px;
    border: 3px solid blue;
    box-sizing: border-box;
}

.card-item {
    margin: 0 auto;
    height: 180px;
    position: relative;
    perspective: 1300px;
}

.card {
    border: 2px solid #E28F25;
    border-radius: 10px;
    object-fit: cover;
    backface-visibility: hidden;
    transition: 2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 115px;
}

.card.back {
    padding: 0;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
}

.card.front {
    position: absolute;
    transform: rotateY(0deg);
}

.record {
    position: absolute;
    top: 10%;
    right: 15%;
}

.btn-start {
    font-family: 'NeoDunggeunmo';
    font-size: 40px;
    color: #FBB041;
    text-shadow: 3px 4px 5px red;
}

.btn-start:active {
    text-shadow: none;
}

.timer {
    font-size: 50px;
}


.ranking {
    color:  rgb(169, 168, 168);
    font-size: 30px;
    padding: 20px;
}

.rank-header {
    color: rgb(214, 199, 199);
}

.ranker {
    padding: 5px;
}

@media (max-width: 1592px) {
    .record {
        position: inherit;
        top: 10%;
        right: 15%;
        margin-left: 40px;
    }

    .container {
        margin: 0 auto;
    }
}